<h1>"******** Welcome to the longest word-game !********"</h1>
<p>"Here is your grid :"</p>

<%= @grid %>

<form action="/score">
  <label for="user-input"></label>
  <input type="text" id="user_input" name="query" placeholder="Guess now">
  <input type="hidden" name="letters" value="<%= @letters %>">
  <input type="hidden" name="time" value="<%= Time.now %>">
  <input type="submit" value="Go on!">
</form>
